﻿<div class="container">
    <div class="row">
      <div class="col-md-12">
          <a routerLink="/cadastrarImovel" class="btn btn-primary">
              Adicionar Novo
          </a>
      </div>
    </div>
    <br>
    <h2>Lista de Imóveis</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-responsive">
            <thead>
                    <td style="width: 20%;"><strong>Foto</strong></td>
                    <td style="width: 20%;"><strong>Endereço</strong></td>
                    <td style="width: 20%;"><strong>Valor</strong></td>
                    <td style="width: 20%;"><strong>Proprietário</strong></td>
                    <td style="width: 20%;"><strong>Corretor</strong></td>
                    <td style="width: 20%;" colspan="2"><strong>Ações</strong></td>
            </thead>
            <tbody>
                <tr *ngFor="let imovel of imoveis">
                    <td><img [src]='exibirImagem(imovel.imagem)'/></td>
                    <td>{{imovel.endereco.endereco}}</td>
                    <td>{{imovel.valor}}</td>
                    <td>{{imovel.proprietario.pessoa.nome}}</td>
                    <td>{{imovel.corretor.pessoa.nome}}</td>
                    <td>Editar</td>
                    <td>Excluir</td>
                </tr>
            </tbody>
        </table>
      </div>
      <p><strong>LISTAR OS IMÓVEIS E FAZER O FORMULÁRIO DE CADASTRO (MÉTODOS PRONTOS)</strong></p>
    </div>
</div>
