<h2>Cadastrar Imóvel</h2>
<form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
  <div class="form-group">
      <label for="imagem">Imagem</label>
      <input type="file" formControlName="imagem" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.imagem.errors }" (change)="changeFile($event)" />
      <div *ngIf="submitted && f.imagem.errors" class="invalid-feedback">
          <div *ngIf="f.imagem.errors.required">Campo Imagem é obrigatório</div>
      </div>
  </div>
    <div class="form-group">
<<<<<<< HEAD
        <label for="valor">Valor</label>
        <input type="text" formControlName="valor" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.valor.errors }" />
        <div *ngIf="submitted && f.valor.errors" class="invalid-feedback">
            <div *ngIf="f.valor.errors.required">Campo Valor é obrigatório</div>
=======
        <label for="endereco">Endereço</label>
        <input type="text" formControlName="endereco" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.endereco.errors }" />
        <div *ngIf="submitted && f.endereco.errors" class="invalid-feedback">
            <div *ngIf="f.endereco.errors.required">Campo Endereço é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="corretor">Corretor</label>
        <input type="text" formControlName="corretor" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.corretor.errors }" />
        <div *ngIf="submitted && f.corretor.errors" class="invalid-feedback">
            <div *ngIf="f.corretor.errors.required">Campo Corretor é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="proprietario">Proprietário</label>
        <input type="text" formControlName="proprietario" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.proprietario.errors }" />
        <div *ngIf="submitted && f.proprietario.errors" class="invalid-feedback">
            <div *ngIf="f.proprietario.errors.required">Campo Proprietário é obrigatório</div>
>>>>>>> 25da537159335ec467afa9a2ed3eeac01aec4de1
        </div>
    </div>
    <div class="form-group">
        <label for="financiado">Finaciado</label>
        <select formControlName="financiado" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.financiado.errors }" >
            <option value=""></option>
            <option value="true">Sim</option>
            <option value="false">Não</option>
        </select>
        <div *ngIf="submitted && f.financiado.errors" class="invalid-feedback">
            <div *ngIf="f.financiado.errors.required">Campo Financiado é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="pertence_proprietario">Pertence Proprietario</label>
        <select formControlName="pertence_proprietario" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pertence_proprietario.errors }" >
            <option value=""></option>
            <option value="true">Sim</option>
            <option value="false">Não</option>
        </select>
        <div *ngIf="submitted && f.pertence_proprietario.errors" class="invalid-feedback">
            <div *ngIf="f.pertence_proprietario.errors.required">Campo Pertence Proprietario é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="aceita_negociacao">Aceita Negociação</label>
        <select formControlName="aceita_negociacao" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.aceita_negociacao.errors }" >
            <option value=""></option>
            <option value="true">Sim</option>
            <option value="false">Não</option>
        </select>
        <div *ngIf="submitted && f.aceita_negociacao.errors" class="invalid-feedback">
            <div *ngIf="f.aceita_negociacao.errors.required">Campo Aceita Negociação é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="valor">Valor</label>
        <input type="number" formControlName="valor" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.valor.errors }" />
        <div *ngIf="submitted && f.valor.errors" class="invalid-feedback">
            <div *ngIf="f.valor.errors.required">Campo Valor é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="imagem">Imagem</label>
        <input type="number" formControlName="imagem" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.imagem.errors }" />
        <div *ngIf="submitted && f.imagem.errors" class="invalid-feedback">
            <div *ngIf="f.imagem.errors.required">Campo Imagem é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="data_cadastro">Data do Cadastro</label>
        <input type="date" formControlName="data_cadastro" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.data_cadastro.errors }" />
        <div *ngIf="submitted && f.data_cadastro.errors" class="invalid-feedback">
            <div *ngIf="f.data_cadastro.errors.required">Campo Data do Cadastro é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="data_atualizacao">Data Atualização</label>
        <input type="date" formControlName="valor" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.data_atualizacao.errors }" />
        <div *ngIf="submitted && f.valor.errors" class="invalid-feedback">
            <div *ngIf="f.valor.errors.required">Campo Data Atualização é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="alarme_ultima_atualizacao">Alarme Última Atualização</label>
        <input type="text" formControlName="valor" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Alarme Última Atualização.errors }" />
        <div *ngIf="submitted && f.Alarme Última Atualização.errors" class="invalid-feedback">
            <div *ngIf="f.valor.errors.required"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="usuario">Usuário</label>
        <input type="text" formControlName="usuario" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }" />
        <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
            <div *ngIf="f.usuario.errors.required">Campo Usuário é obrigatório</div>
        </div>
    </div>


<!--
    endereco: ['', Validators.required],
    corretor: ['', Validators.required],
    proprietario: ['', Validators.required],
    financiado: ['', Validators.required],
    pertence_proprietario: ['', Validators.required],
    aceita_negociacao: ['', Validators.required],
    valor: ['', Validators.required],
    imagem: ['', Validators.required],
    data_cadastro: ['', Validators.required],
    data_atualizacao: ['', Validators.required],
    alarme_ultima_atualizacao: ['', Validators.required] -->



    <div class="form-group">
        <label for="pais">Proprietário</label>
        <select class="form-control" name="proprietario" formControlName="proprietario" [ngClass]="{ 'is-invalid': submitted && f.proprietario.errors }">
            <option *ngFor="let proprietario of proprietarios" [value]="proprietario.id_proprietario"> {{ proprietario.pessoa.nome }} </option>
        </select>
        <div *ngIf="submitted && f.proprietario.errors" class="invalid-feedback">
            <div *ngIf="f.proprietario.errors.required">Campo Proprietário é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="pais">Corretor</label>
        <select class="form-control" name="corretor" formControlName="corretor" [ngClass]="{ 'is-invalid': submitted && f.corretor.errors }">
            <option *ngFor="let corretor of corretores" [value]="corretor.id_corretor"> {{ corretor.pessoa.nome }} </option>
        </select>
        <div *ngIf="submitted && f.proprietario.errors" class="invalid-feedback">
            <div *ngIf="f.corretor.errors.required">Campo Corretor é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="pais">O imóvel é financiado?</label>
        <select class="form-control" name="financiado" formControlName="financiado" [ngClass]="{ 'is-invalid': submitted && f.financiado.errors }">
            <option [value]="1"> Sim </option>
            <option [value]="0"> Não </option>
        </select>
        <div *ngIf="submitted && f.pertence_proprietario.errors" class="invalid-feedback">
            <div *ngIf="f.financiado.errors.required">Campo "O imóvel é financiado?" é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="pais">O imóvel pertence ao proprietário?</label>
        <select class="form-control" name="pertence_proprietario" formControlName="pertence_proprietario" [ngClass]="{ 'is-invalid': submitted && f.pertence_proprietario.errors }">
            <option [value]="1"> Sim </option>
            <option [value]="0"> Não </option>
        </select>
        <div *ngIf="submitted && f.pertence_proprietario.errors" class="invalid-feedback">
            <div *ngIf="f.pertence_proprietario.errors.required">Campo "O imóvel pertence ao proprietário?" é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="pais">O imóvel é passível de negociação?</label>
        <select class="form-control" name="aceita_negociacao" formControlName="aceita_negociacao" [ngClass]="{ 'is-invalid': submitted && f.aceita_negociacao.errors }">
            <option [value]="1"> Sim </option>
            <option [value]="0"> Não </option>
        </select>
        <div *ngIf="submitted && f.aceita_negociacao.errors" class="invalid-feedback">
            <div *ngIf="f.aceita_negociacao.errors.required">Campo "O imóvel é passível de negociação?" é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Cadastrar
        </button>
        <a routerLink="/corretores" class="btn btn-link">Voltar</a>
    </div>
</form>
