﻿<div class="container">
    <div class="row">
      <div class="col-md-12">
          <a routerLink="/cadastrarProprietario" class="btn btn-primary">
              Adicionar Novo
          </a>
      </div>
    </div>
    <br>
    <h2>Lista de Proprietários</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-responsive">
          <thead>
              <td style="width: 30%;"><strong>Nome</strong></td>
              <td style="width: 20%;"><strong>E-mail</strong></td>
              <td style="width: 20%;"><strong>Telefone</strong></td>
              <td style="width: 30%;"><strong>Endereço</strong></td>
              <td style="width: 20%;"><strong>Ação</strong></td>
          </thead>
          <tbody>
              <tr *ngFor="let proprietario of proprietarios">
                  <td>{{proprietario.pessoa.nome}}</td>
                  <td>{{proprietario.pessoa.email}}</td>
                  <td>{{proprietario.pessoa.telefone}}</td>
                  <td>{{proprietario.pessoa.endereco.endereco}}, {{proprietario.pessoa.endereco.numero}}</td>
                  <td><a style="color: blue;" class="btn btn-link" (click)="excluirProprietario(proprietario.id_proprietario)">Excluir</a></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
