<h2>Cadastrar Proprietário</h2>
<form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" formControlName="nome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nome.errors }" />
        <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
            <div *ngIf="f.nome.errors.required">Campo Nome é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Campo E-mail é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="tel" formControlName="telefone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telefone.errors }" />
        <div *ngIf="submitted && f.telefone.errors" class="invalid-feedback">
            <div *ngIf="f.telefone.errors.required">Campo Telefone é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="endereco">Endereço</label>
        <input type="text" formControlName="endereco" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.endereco.errors }" />
        <div *ngIf="submitted && f.endereco.errors" class="invalid-feedback">
            <div *ngIf="f.endereco.errors.required">Campo Endereço é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="numero">Número</label>
        <input type="text" formControlName="numero" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.numero.errors }" />
        <div *ngIf="submitted && f.numero.errors" class="invalid-feedback">
            <div *ngIf="f.numero.errors.required">Campo Número é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="bairro">Bairro</label>
        <input type="text" formControlName="bairro" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bairro.errors }" />
        <div *ngIf="submitted && f.bairro.errors" class="invalid-feedback">
            <div *ngIf="f.bairro.errors.required">Campo Bairro é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="cidade">Cidade</label>
        <input type="text" formControlName="cidade" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cidade.errors }" />
        <div *ngIf="submitted && f.cidade.errors" class="invalid-feedback">
            <div *ngIf="f.cidade.errors.required">Campo Cidade é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="pais">País</label>
        <input type="text" formControlName="pais" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pais.errors }" />
        <div *ngIf="submitted && f.pais.errors" class="invalid-feedback">
            <div *ngIf="f.pais.errors.required">Campo País é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Cadastrar
        </button>
        <a routerLink="/proprietarios" class="btn btn-link">Voltar</a>
    </div>
</form>
