﻿<h2>Cadastrar</h2>
<form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" formControlName="nome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nome.errors }" />
        <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
            <div *ngIf="f.nome.errors.required">Campo Nome é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Campo E-mail é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Nome de Usuário</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Campo Nome de Usuário é obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" formControlName="senha" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.senha.errors }" />
        <div *ngIf="submitted && f.senha.errors" class="invalid-feedback">
            <div *ngIf="f.senha.errors.required">Campo Senha é obrigatório</div>
            <div *ngIf="f.senha.errors.minlength">A senha deve ter ao menos 6 caracteres</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Cadastrar
        </button>
        <a routerLink="/login" class="btn btn-link">Cancelar</a>
    </div>
</form>
