﻿<h1>Minha Casa Minha Dívida</h1>
<p>Bem-vindo(a) ao sistema, <strong>{{ usuarioSessao.pessoa.nome }}</strong>!</p>
<h3>Imóveis:</h3>
<p><strong>FAZER O FORMULÁRIO COM OS CAMPOS DO FILTRO (UTILIZAR MÉTODO FILTRAR DO SERVICE DE IMÓVEIS</strong></p>
<ul>
    <li *ngFor="let imovel of imoveis">
        {{imovel.endereco.endereco}} - R$ {{imovel.valor}}
    </li>
    <li>- EXIBIR AQUI A LISTA DE IMÓVEIS</li>
</ul>